<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Counter</title>
</head>
<body>
  <div class="container text-center">
    <h1 class="my-3 mx-2">Counter</h1>
    <h3 class="my-3 mx-2"> <%= JSON.stringify(session.counter) %> </h3>
    <form action="/increase" method="post">
      <input type='hidden' name='counter'>
      <button class="my-2 btn btn-primary">Increase Counter by 2</button>
    </form>
    <form action="/reset" method="post">
      <input type='hidden' name='counter'>
      <button class="my-2 btn btn-danger">Reset Counter</button>
    </form>
  </div>
</body>
</html>